.responsive {
    width: 100%;
    height: auto;
    margin: 0;
  }

.text-center {
    text-align: center;
}

.color-block {
  height: 400px;
  width: 560px;
  padding: 20px;
  background-color: orangered;
  text-align: center;
}