* {
  font-family: "El Messiri", sans-serif;
}
section {
  text-align: center;
}

h2 {
  text-align: center;
}


#ammend-section ul {
    text-align: center;
    justify-content: center;
    list-style-type: circle;
    font-family: El Messiri, sans-serif;
    font-size: 20px;
    color: whitesmoke;
  }
  h3{
    color: whitesmoke;
    font-family: El Messiri, sans-serif;
  }

  #ammend-section ul li{
    font-family: El Messiri, sans-serif;
    font-size: 20px;
    list-style-type: circle;
    color: whitesmoke;
    list-style-position: inside;
    text-align: center;
  }

form {
  display: flex;
}
.caption{
  font-weight: italic;
    margin: 0;
    font-size: 25px;
    color:whitesmoke;
    text-align: center;
}

section{
  background-image: url('https://img.freepik.com/free-photo/downtown-skyline-austin-texas-usa-from-top-view-sunset_255553-478.jpg?size=626&ext=jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  padding: 5px 5px 0px 20px;
  background-color: #d65804;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#weather {
  top: 20;
  max-width: 20vw;
  padding: 10px 50px 50px 50px; 
  height: 20vh;
  background-color: #d65804;
  text-align: center;
  font-family: "El Messiri", sans-serif;
}

aside h6 {
  font-family: "El Messiri", sans-serif;
  font-size: 20px;
  color: #fff;
}

aside p {
  font-family: "El Messiri", sans-serif;
  margin-top: 15px;
  font-size: 28px;
  color: #fff;
}

header h1 {
  font-weight: italic;
  padding-top: 15px;
  font-size: 36px;
  color: #fff;
}

header a {
  text-decoration: none;
  color: #fff;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 5px 45px;
  font-weight: lighter;
  font-size: 1.5vw;
  font-family: "El Messiri", sans-serif;
}

/* HEADER / NAVBAR STYLES END */
/* Intro Image */

.intro {
  text-align: center;
  position: relative;
  top: 20%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* intro title */
.section-title {
  font-family: "Henny Penny", cursive;
  text-decoration: underline;
  line-height: 1.7;
  color: rgb(10, 10, 10);
  width: 80%;
  font-size: 50px;
  margin: 20px auto;
  color: rgb(63, 40, 3);
}
p {
  font-family: "El Messiri", sans-serif;
  font-size: 20pt;
  font-weight: 300;
  line-height: 1.8;
  color: rgb(63, 40, 3);
  width: 80%;
  font-size: 20px;
  margin: 10px auto;
}
section {
  padding: 60px;
}
.responsive {
  width: 100%;
  height: auto;
  margin: 0;
}

h1 {
  margin-top: 50px;
  font-family: "Henny Penny", cursive;
  text-decoration: underline;
  font-size: 48px;
}

.text-center {
  text-align: center;
}

.color-block {
  display: flex;
  height: 28em;
  padding: 20px;
  background-color: #d65804;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

footer {
  background-color: #d65804;
}

.image-block {
  width: 44em;
  height: 28em;
}

@media screen and (max-width: 724px) {
  .image-block {
    height: 18em;
  }

  .color-block {
    height: 19em;
  }
h5{
  text-align: right;
  padding-right: 30%;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: right;
  margin-left: 70%;
  background-color: teal;
}
button{
  background-color: blue; /* Blue*/
  border: red;
  color: white;
  text-align: right;
  margin-left: 80%;
  height: auto;

}
}